@font-face {
  font-family: 'Dusha V5';
  src: url("assets/fonts/dushav5/DushaV5-Regular.eot");
  src: url("assets/fonts/dushav5/DushaV5-Regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/dushav5/DushaV5-Regular.woff2") format("woff2"), url("assets/fonts/dushav5/DushaV5-Regular.woff") format("woff"), url("assets/fonts/dushav5/DushaV5-Regular.ttf") format("truetype"), url("assets/fonts/dushav5/DushaV5-Regular.svg#DushaV5-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
